{% load static %}
{% load i18n %}

<div class="row">
    <div class="col-md-3">
        <a href="{% url 'main' %}">
            <img src="{% static 'cms/media/kino.svg' %}"
                 class="d-inline-block align-text-top"
                 alt="logo" width="230" height="170">
        </a>
    </div>
    <div class="col-md-9">
        <div class="navbar">
            <div class="container">
                <form style="padding-bottom: 10px;">
                    <input class="form-control" type="search" placeholder="{% trans 'Поиск' %}" aria-label="Search">
                </form>
                {% if request.user.is_authenticated %}
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://avatars.githubusercontent.com/u/42846260?s=96&v=4" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="{% url 'user' %}">{% trans "Профиль" %}</a></li>
                        {% if request.user.is_superuser or request.user.is_staff%}
                        <li><a class="dropdown-item" href="{% url 'cms' %}">{% trans "Панель администратора" %}</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">{% trans "Выйти" %}</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="text-end">
                    <a href="{% url 'login' %}" type="button" class="btn btn-success">{% trans "Логин" %}</a>
                    <a href="{% url 'register' %}" type="button" class="btn btn-secondary">{% trans "Регистрация" %}</a>
                </div>
                {% endif %}

                <div class="list-inline" style="margin-top: 10px;">
                    <a href="#"><img src="{% static 'main/media/Facebook.png' %}" width="30"
                                     height="30"
                                     alt="Facebook"></a>
                    <a href="#"><img src="{% static 'main/media/Twitter.png' %}" width="30"
                                     height="30"
                                     alt="Facebook"></a>
                    <a href="#"><img src="{% static 'main/media/VK.png' %}" width="30" height="30"
                                     alt="Facebook"></a>
                    <a href="#"><img src="{% static 'main/media/Ok.png' %}" width="30" height="30"
                                     alt="Facebook"></a>
                    <a href="#"><img src="{% static 'main/media/google+.png' %}" width="30" height="30"
                                     alt="Facebook"></a>
                    <a href="#"><img src="{% static 'main/media/+.png' %}" width="30" height="30"
                                     alt="Facebook"></a>
                </div>

                <div class="nav flex-column" style="color: white; padding-top: 10px;">
                    <h3>(056) {{ home_page_data.phone_number1 }}</h3>
                    <h3>(056) {{ home_page_data.phone_number2 }}</h3>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-10" style="padding-bottom: 10px;">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                                style="--bs-scroll-height: 100px;">

                                
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            
        </div>
    </div>
</div>