{% extends 'cms/elements/base.html'%}
{% load static %}

{% block title %}
{{ block.super }}|Пользователи
{% endblock %}

{% block style %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'cms/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'cms/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<!--/.dataTables-->
<style>
    .card {
        border-radius: 6px;
        padding: 30px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 33px 11px rgba(34, 60, 80, 0.2);

    }
</style>
{% endblock %}

{% block content %}
{% include 'cms/inc/_messages.html' %}
<div class="card">
    <div class="card-body">
        <h4 style="text-align:center;">Пользователи</h4>
        <table id="users" class="table table-bordered text-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Дата регистрации</th>
                <th>День рождения</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>ФИО</th>
                <th>Псевдоним</th>
                <th>Город</th>
                {% if request.user.is_superuser %}
                <th class="sorting_asc_disabled sorting_desc_disabled"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            {% if user == request.user %}
            {% else %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.date_joined|date:"d.m.Y" }}</td>
                <!-- user.date_of_birth -->
                {% if user.date_of_birth %}
                <td>{{ user.date_of_birth|date:"d.m.Y" }}</td>
                {% else %}
                <td><i class="fas fa-minus"></i></td>
                {% endif %}
                <!-- /.user.date_of_birth -->
                <td>{{ user.email }}</td>
                <!-- user.phone_number -->
                {% if user.phone_number %}
                <td>{{ user.phone_number }}</td>
                {% else %}
                <td><i class="fas fa-minus"></i></td>
                {% endif %}
                <!-- /.user.phone_number -->
                <!-- user.first_name or user.last_name -->
                {% if user.first_name or user.last_name %}
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                {% else %}
                <td><i class="fas fa-minus"></i></td>
                {% endif %}
                <!-- /.user.first_name or user.last_name -->
                <td>{{ user.username }}</td>
                <!-- user.town -->
                {% if user.town %}
                <td>{{ user.town }}</td>
                {% else %}
                <td><i class="fas fa-minus"></i></td>
                {% endif %}
                <!-- /.user.town -->
                {% if request.user.is_superuser %}
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'user_edit' user.id %}" class="fas fa-edit">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="fas fa-trash text-danger"
                               data-target="#exampleModal-{{ forloop.counter }}"
                               data-toggle="modal">
                            </a>
                        </div>
                    </div>
                    <!-- Model for delete -->
                    <div class="modal fade" id="exampleModal-{{ forloop.counter }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel-{{ forloop.counter }}">Удаление
                                        пользователя</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" action="{% url 'user_delete' user.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        Ви уверены что хотите удалить пользователя {{ user.username }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад
                                        </button>
                                        <button type="submit" class="btn btn-primary">Удалить</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- /.model for delete -->
                </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>
{% endblock %}

{% block script %}
<!-- DataTables  & Plugins -->
<script src="{% static 'cms/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'cms/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'cms/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>

<script>
    $(function () {
        $("#users").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "language": {
                "infoFiltered": "(Отфильтровано _MAX_ записей)",
                "zeroRecords": "Записей не найдено",
                "info": "Показано с _START_ по _END_ записей из _TOTAL_",
                "infoEmpty": "Нет записей.",
                "search": "Поиск:",
                "paginate": {
                    "previous": "Предыдущая",
                    "last": "Последняя",
                    "next": "Следующая"
                }
            }
        })
    });
</script>

<!--/datatable-->
{% endblock %}

