{% extends 'main/elements/base.html' %}

{% block title %}
KinoCMS|Home
{% endblock %}


{% block header %}
{{ block.super }}
{% endblock %}

{% block navbar %}
<div class="container">
    {{ block.super }}
</div>
{% endblock %}

{% block content %}
<div class="container" style="background-color: white;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}

{% block footer %}
<div class="container" style="background-color: white;">
    {{ block.super }}
</div>
{% endblock %}
