.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_cinemas:hover {
    cursor: pointer;
    opacity: 0.7;
}

.card {
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 33px 11px rgba(34, 60, 80, 0.2);

}