<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ seo_block.description_seo }}">
    <meta name="keywords" content="{{ seo_block.keywords }}">
    <meta name="url" content="{{ seo_block.url }}">
    <link href="{% static 'main/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/home_page_style.css' %}">
    <link rel="shortcut icon" href="{%  static 'main/media/fav.png' %}">

    {% block style %}
    {% endblock %}

    <title>
        {% block title %}
        {{ seo_block.title_seo }}
        {% endblock %}
    </title>

</head>

{% block header %}
{% endblock %}
<body>

{% block navbar %}
{% include 'main/inc/_nav.html' %}
{% endblock %}

{% block content %}
CONTENT
{% endblock %}


<!-- Bootstrap js -->
<script src="{% static 'main/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#languages").on('change', function () {
        this.form.submit();
    })
</script>
{% block script %}
{% endblock %}
</body>
</html>
