{% extends 'main/elements/base_about_cinema.html' %}

{% block title %}
{{ block.super }}|Новости
{% endblock %}


{% block header %}
{{ block.super }}
{% endblock %}

{% block navbar %}
<div class="container">
    {{ block.super }}
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}

{% block footer %}
<div class="container">
    {{ block.super }}
</div>
{% endblock %}