{% extends 'user/elements/base_login_and_register.html' %}

{% block title %}
{{ block.super }}|Авторизация
{% endblock %}

{% block navbar %}
{% endblock %}


{% block messages %}
{% endblock %}

{% block content %}
<form method="post" action="{% url 'login' %}">
    <div class="container">
        {% include 'user/inc/_messages.html' %}
        <h2>Вxoд в систему</h2>
        <hr>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-dark">Войти в систему</button>
        <a class="btn btn-outline-dark" style="width: 100%;" href="{% url 'main' %}">Продолжить без входа</a>
        <div class="container">
            <p>У вас еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a>.</p>
        </div>
    </div>
</form>
{% endblock %}

{% block footer %}
{% endblock %}

