<div class="row mb-4">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6" style="text-align: right;">
        <div class="custom-control custom-switch custom-switch-on-success"
             style="display: inline;">
            {{ form.active }}
            <label class="custom-control-label" for="{{ form.active.id_for_label }}"></label>
        </div>
        <div class="btn-group">
            <button id="ru-{{form.prefix }}" value="{{ form.prefix }}"
                    onclick="russian(event)" type="button" class="btn btn-default"
                    style="background-color: #ddd">Русский
            </button>
            <button id="uk-{{form.prefix }}" value="{{ form.prefix }}"
                    onclick="ukraine(event)" type="button" class="btn btn-default">
                Украинский
            </button>
        </div>

    </div>
</div>