<div class="row mb-4">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6" style="text-align: right;">
        <div class="btn-group">
            <button id="ru" value="{{ form.prefix }}"
                    onclick="russian()" type="button" class="btn btn-default"
                    style="background-color: #ddd">Русский
            </button>
            <button id="uk" value="{{ form.prefix }}"
                    onclick="ukraine()" type="button" class="btn btn-default">
                Украинский
            </button>
        </div>
    </div>
</div>